@model DPDSP.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.Langues.ForgotYourPassword;
}

@section styles{
    <style>
        .input-validation-error {
            border: 1px solid red;
        }
    </style>
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@Resources.Langues.EnterYourEmail</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-3">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" class="btn btn-success" value="@Resources.Langues.EmailLink" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
