@using BotDetect.Web.Mvc;
@using DPDSP.App_Code;
@model DPDSP.Models.LoginOrRegisterViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Mobile/Views/Shared/MobileLayout.cshtml";
}

<div class="form-horizontal col-xs-offset-1" style="padding-top:15px;">
    <div class="form-group text-danger">
        <text style="margin-left:15px; display:none;" class="col-md-offset-4" id="changePassErrorContent"></text>
    </div>
    <div class="col-xs-12 text-center">
        @Html.ValidationMessageFor(m => m.UserChangePass.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="col-xs-4 control-label" for="UserChangePass_OldPassword">@Resources.Langues.CurrentPassword</label>
        <div class="col-xs-6">
            @Html.PasswordFor(m => m.UserChangePass.OldPassword, new
                             {
                                 @class = "form-control input-md",
                                 @data_val = "true",
                                 @data_val_password = Resources.Langues.ValidatePasswordMessage,
                                 @data_val_password_min = "6",
                                 @data_val_password_nonalphamin = "1",
                                 @data_val_required = " "
                             })
        </div>
    </div>
    <div class="col-xs-12 text-center">
        ※ @Resources.Langues.ValidatePasswordMessage
    </div>
    <div class="form-group">
        <label class="col-xs-4 control-label" for="UserChangePass_PassWordChange">√ @Resources.Langues.Password</label>
        <div class="col-xs-6">
            @Html.PasswordFor(m => m.UserChangePass.PasswordChange, new
                             {
                                 @class = "form-control input-md",
                                 @data_val = "true",
                                 @data_val_password = Resources.Langues.ValidatePasswordMessage,
                                 @data_val_password_min = "6",
                                 @data_val_password_nonalphamin = "1",
                                 @data_val_required = " "
                             })
            @Html.ValidationMessageFor(m => m.UserChangePass.PasswordChange, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4 control-label" for="m => UserChangePass_ConfirmPasswordChange">√ Confirm Password</label>
        <div class="col-xs-6">
            @Html.PasswordFor(m => m.UserChangePass.ConfirmPasswordChange, new
                            {
                                @class = "form-control input-md"
                            })
            @Html.ValidationMessageFor(m => m.UserChangePass.ConfirmPasswordChange, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-xs-12 text-center">
        ※ @Resources.Langues.PleaseConfirmImageAndInput
    </div>
    <div class="form-group">
        @if (!Request.IsAuthenticated)
        {
            <label class="col-xs-2 control-label" for="CaptchaInputText"></label>
            <div class="col-xs-4" id="captcha_content">
                <fieldset>
                    <div>
                        @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                            exampleCaptcha.UserInputID = "CaptchaCode";
                        }
                        @Html.Captcha(exampleCaptcha)
                    </div>
                    <div class="actions">
                        @Html.TextBox("CaptchaCode", "", new { @class = "form-control input-md", style = "margin-top:10px;" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
