@using System.Security.Claims
@using DPDSP.Models
@using DPDSP.Services
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using DPDSP.Models
@using DPDSP.Services
@using System.Configuration;
@using BotDetect.Web.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="한국전기연구원 스마트배전연구센터,분산자원,분산자원설계,분산자원설계프로그램" />
    <title>KERI 분산자원설계프로그램</title>
    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/cultures/kendo.culture.ko-KR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/cultures/kendo.culture.en-US.min.js")"></script>

    <link href="https://fonts.googleapis.com/css?family=Hind|Oxygen" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <link rel="stylesheet" href="~/Theme/menu-design/css/material-design-iconic-font.css" />
    <link rel="stylesheet" href="~/Theme/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/bootstrap/css/bootstrap-theme.min.css">
    <script src="~/Theme/js/jquery.jside.menu.js"></script>
    <link rel="stylesheet" href="~/Theme/css/jside-menu.css" />
    <link rel="stylesheet" href="~/Theme/css/jside-skins.css" />

    <link href="@Url.Content("~/Content/FaqAndNotice.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/KendoGridOff365.css")" rel="stylesheet" type="text/css" />
    <style>
        .count-1 {
            width: 100%;
        }

        .count-2 {
            width: 50%;
        }

        .count-3 {
            width: 33.33%;
        }

        .count-4 {
            width: 25%;
        }

        .count-5 {
            width: 20%;
        }

        .menu-container ul li .am {
            background-color: #212329;
            color: #fff;
            font-weight: bold;
        }

        .auto-height{
            height:auto
        }

        .menu-container ul li.disabled > a {
            color: #777;
        }

        .k-grid {
            font-size: 10px;
        }

        .k-widget {
            border-right-style: none;
            border-top-style: solid
        }

        .outer {
            width: 100%;
            padding: 2px;
            white-space: nowrap;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .lbWT {
            text-align: center;
            vertical-align: middle;
            font-size: 12px;
        }

        g > text {
            font-size: 12px;
        }

        input {
            font-size:12px !important;
        }

        .k-list-scroller {
            text-align: center
        }

        .k-list-optionlabel {
            text-align: center
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 80%;
        }

        .button1 {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button-gray {
            background-color: gray;
            color: black;
            border: 2px solid #e7e7e7;
        }

        .input-validation-error {
            border: 1px solid red !important;
        }
    </style>

    <script>
        var baseUrl = '@Url.Content("~/")';

        $(document).ready(function () {
            $(".menu-container").jSideMenu({
                jSidePosition: "position-left", //possible options position-left or position-right

                jSideSticky: true, // menubar will be fixed on top, false to set static

                jSideSkin: "keri_blue", // to apply custom skin, just put its name in this string
            });
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    <!-- skin theme change able jSideSkin: "blue","green","orange","black""wood" -->
</head>
<body>

    <menu class="menubar" style="z-index:999998">
        <menuitem>
            <button class="menu-trigger"> </button>
        </menuitem>

        <menuitem class="logo" title="홈으로 이동">
            <a href="@Url.Action("Index","Home", new { area="Mobile"})"><img src="~/Theme/images/logo.png" alt="홈으로이동" /> </a>
        </menuitem>
    </menu>
    <div class="menu-head" style="z-index:999999">
        <span class="layer">
            <div class="col">
                <div class="row for-pic">
                    <div class="profile-pic">
                        <img src="~/Theme/images/menu_title.jpg" alt="분산자원 설계 프로그램" />
                    </div>
                </div>
                <div class="row for-name" style="padding-top:50px">
                    <span class="tagline" align="center"> 한국전기연구원 </span>
                    <span class="tagline"> 분산자원 설계 프로그램 </span>
                </div>
            </div> <!--//col-->
        </span>
    </div>
    <!--//menu-head-->
    <!--//menu-head-->
    <!--좌측 메뉴 시작 --- left menu start-->
    <nav class="menu-container">
        <ul class="menu-items">
            <li class="has-sub">
                <span class="item-icon"> <i class="glyphicon glyphicon-film"></i> </span>
                <span class="dropdown-heading">커뮤니티 </span>
                <ul>
                    <li>
                        <a href="@Url.Action("ServiceIntroduction","Community", new { area="Mobile"})">- @Resources.Langues.ServiceIntroduction </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Notice","Community", new { area="Mobile"})">- @Resources.Langues.Notice </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CaseQA","Community", new { area="Mobile"})">- FAQ </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ReferenceBoard","Community", new { area="Mobile"})">- @Resources.Langues.ReferenceBoard </a>
                    </li>
                </ul>
            </li>

            @if (Request.Params["modelCode"] == "M00001")
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <span class="dropdown-heading" >수요 관리 모형 </span>
                    <ul style="height:auto">
                        @foreach (var item in ViewBag.ItemList)
                        {
                            if (item.hidden == true)
                            {
                                <li id="li_@item.ItemCode" class="disabled"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                            else
                            {
                                <li id="li_@item.ItemCode"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <a href="@Url.Action("Index", "Case", new { area="Mobile", modelCode = "M00001" })">
                        수요 관리 모형
                    </a>
                </li>
            }

            @if (Request.Params["modelCode"] == "M00003")
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <span class="dropdown-heading" >신재생 발전사업 모형 </span>
                    <ul style="height:auto">
                        @foreach (var item in ViewBag.ItemList)
                        {
                            if (item.hidden == true)
                            {
                                <li id="li_@item.ItemCode" class="disabled"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                            else
                            {
                                <li id="li_@item.ItemCode"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-cloud"></i> </span>
                    <a href="@Url.Action("Index", "Case", new { area="Mobile", modelCode = "M00003" })">
                        신재생 발전사업 모형
                    </a>
                </li>
            }
            @if (Request.Params["modelCode"] == "M00005")
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <span class="dropdown-heading">구역전기사업 모형 </span>
                    <ul style="height:auto">
                        @foreach (var item in ViewBag.ItemList)
                        {
                            if (item.hidden == true)
                            {
                                <li id="li_@item.ItemCode" class="disabled"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                            else
                            {
                                <li id="li_@item.ItemCode"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <span class="item-icon"> <i class="glyphicon glyphicon-asterisk"></i> </span>
                    <a href="@Url.Action("Index", "Case", new { area="Mobile", modelCode = "M00005" })">
                        구역전기사업 모형
                    </a>
                </li>
            }
            @if (Request.Params["modelCode"] == "M00002")
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <span class="dropdown-heading">도서지역 모형 </span>
                    <ul style="height:auto">
                        @foreach (var item in ViewBag.ItemList)
                        {
                            if (item.hidden == true)
                            {
                                <li id="li_@item.ItemCode" class="disabled"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                            else
                            {
                                <li id="li_@item.ItemCode"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <span class="item-icon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <a href="@Url.Action("Index", "Case", new { area="Mobile", modelCode = "M00002" })">
                        도서지역 모형
                    </a>
                </li>
            }
            @if (Request.Params["modelCode"] == "M00004")
            {
                <li class="has-sub">
                    <span class="item-icon"> <i class="glyphicon glyphicon-eye-open"></i> </span>
                    <span class="dropdown-heading">프로슈머 모형 </span>
                    <ul style="height:auto">
                        @foreach (var item in ViewBag.ItemList)
                        {
                            if (item.hidden == true)
                            {
                                <li id="li_@item.ItemCode" class="disabled"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                            else
                            {
                                <li id="li_@item.ItemCode"> <a id="@item.ItemCode" onclick="getListEntity('@item.ItemCode', '@item.ItemName')" role="button" class="over"> @item.ItemName</a> </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <span class="item-icon"> <i class="glyphicon glyphicon-camera"></i> </span>
                    <a href="@Url.Action("Index", "Case", new { area="Mobile", modelCode = "M00004" })">
                        프로슈머 모형
                    </a>
                </li>
            }



            <!---- 로그인, 로그아웃, 회원 가입정보 시작 login,logout,information start ----->
            <li>
                <span class="item-icon"></span>

            </li>
            <div class="action">
                @if (!Request.IsAuthenticated)
                {


                    <a href="@Url.Action("Login","Account", new { area="Mobile"})"> <font color="#fff">로그인 &nbsp;<span class="glyphicon  glyphicon-log-in"></span></font></a>

                    <a href="@Url.Action("MemberRegister","Account", new { area="Mobile"})"> <font color="#fff">로그아웃 &nbsp;<span class="glyphicon  glyphicon-log-in"></span></font></a>

                }
                else
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "Mobile" }, FormMethod.Post, new { id = "logoutForm", }))
                    {
                        var userStore = new UserStore<ApplicationUser>(new DPDSPDbContext());
                        var userManager = new UserManager<ApplicationUser>(userStore);
                        var user = userManager.FindById(User.Identity.GetUserId());
                        try
                        {
                            user.FirstName = StringCipher.Decrypt(user.FirstName, ConfigurationManager.AppSettings["passEncrytp"]);
                            user.LastName = StringCipher.Decrypt(user.LastName, ConfigurationManager.AppSettings["passEncrytp"]);
                            user.UserExtend.UserTel = StringCipher.Decrypt(user.UserExtend.UserTel, ConfigurationManager.AppSettings["passEncrytp"]);
                        }
                        catch
                        {
                            user.FirstName = "Unknown";
                            user.LastName = "Unknown";
                            user.UserExtend.UserTel = "Unknown";
                        }
                        ViewBag.CurrentUser = user;
                        @Html.AntiForgeryToken()
                        <a role="button" onclick="javascript:document.getElementById('logoutForm').submit()"> <font color="#fff">회원가입 &nbsp;<span class="glyphicon  glyphicon-user"></span></font></a>
                        <!--login & join link end -->
                        <a href="@Url.Action("Myinfo","Account", new { area="Mobile"})">
                            <i class="icon-user"></i>@ViewBag.CurrentUser.LastName @ViewBag.CurrentUser.FirstName
                        </a>
                    }
                }
                <!--- login --->
                <!-- log out -->


            </div>

            <!---- 로그인, 로그아웃, 회원 가입정보 시작 login,logout,information End ----->
            <!-----------------------------  나의 결과 모형 ------------------->
            @if (Request.IsAuthenticated)
            {
                <li>
                    <span class="item-icon"> <i class="zmdi zmdi-aspect-ratio-alt"></i> </span>
                    <a href="@Url.Action("Index", "MyCase", new { area = "Mobile" })">나의 결과 모형(INFORMATION)</a>
                </li>
            }
            <!--------------------   나의 결과 모형 끝 ---->
        </ul>
    </nav>

    <div style="text-align: center;margin-right: 0;margin-left: 0;margin-top: 55px;"><strong><h3 id="item-selected"></h3></strong></div>

    <div id="entity-content" class="progress" style="border:1px;height:40px">

    </div>
    <div id="poppupContent" style="min-height:65vh;margin-top:20px;">

    </div>
    <!--MAIN ONLY FILES-->
    <!--MAIN CSS, JS-->
    <link rel="stylesheet" href="~/Theme/css/d-main.css" />
    <script src="~/Theme/js/d-main.js"></script>
    <footer class="credit">
        경상남도 창원시 성산구 불모산로10번길 12 (성주동)<br> 한국전기연구원 / TEL. 055-280-1365<br>
        Copyright ⓒ KERI &copy; 2018 <a href="http://www.modder.co.kr/" title="분산자원설계프로그램" target="_blank">All Rights Reserved.</a>
    </footer>
</body>
</html>


<script>
    var lstEntityNextStep = [];
    var areas = getArea();
    var caseId = @Request.Params["caseId"];
    var modelCode = '@Request.Params["modelCode"]';
    var id = $('.menu-items li ul li')[4].id;
    $('#' + id.substr(3)).addClass('am');

    $(document).ready(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
            }
            else {
                window.location.href = '@Url.Action("Index", "Home", new { area = "Case" })'
        }

        $('#entity-content').on('click', '.progress-bar', function (e) {
            $.blockUI();
            var id = $(this).attr('id');
            var idPopup = id.substr(4);


            if (idPopup == "E00024") {
                var status = 0;
                $.blockUI();
                $.post("@Url.Action("GetSalesTypeCodeByCaseId", "EntityE00023Popup", new { area="Case" })", { caseId: caseId }, function (result) {
                    if (result.success) {
                        result.list.forEach(function (item) {
                            if (item == "SA0002") {
                                status++;
                            }
                        });
                        if (status == 0) {
                            $.unblockUI();
                            bootbox.alert('@Resources.Langues.MessEntity24')
                        } else {
                            $.post("@Url.Action("GetEntityPrevious", "Case", new { area = "Case" })", { modelCode: modelCode, entityName: idPopup, caseId: caseId }, function (result) {
                                if (result.success) {
                                    $('#poppupContent').load("@Url.Action("GetEntityPopup", "Case", new { area="Mobile" })?id=" + idPopup + '&modelCode=' + modelCode + '&caseId=' + caseId, function () {
                                        $.unblockUI();
                                    });
                                } else {
                                    $.unblockUI();
                                    bootbox.alert('@Resources.Langues.MessCaseReferences')
                                }
                            }).always(function () {
                            }).fail(function () {
                                $.unblockUI();
                                bootbox.alert('@Resources.Langues.ContactAdmin')
                            });
                        }
                    }
                }).fail(function () {
                    $.unblockUI();
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                }).always(function () {

                });
            } else {
                $.post("@Url.Action("GetEntityPrevious", "Case", new { area = "Case" })", { modelCode: modelCode, entityName: idPopup, caseId: caseId }, function (result) {
                    if (result.success) {
                        $('#poppupContent').load("@Url.Action("GetEntityPopup", "Case", new { area="Mobile" })?id=" + idPopup + '&modelCode=' + modelCode + '&caseId=' + caseId, function () {
                            $.unblockUI();
                        });
                    } else {
                        $.unblockUI();
                        bootbox.alert('@Resources.Langues.MessCaseReferences')
                    }
                }).always(function () {
                }).fail(function () {
                    $.unblockUI();
                    bootbox.alert('@Resources.Langues.ContactAdmin')
                });
            }
        })

        var firstItem =$('.menu-items li ul li')[4].id;
        var idItem = firstItem.substr(3);
        getListEntity(idItem, "")

        $('#item-selected').text($('#' + idItem).html())

        $.post("@Url.Action("GetFirstEntityInItem", "Case", new { area = "Case" })", { itemCode: idItem }, function (result) {
            if (result.success) {
                $('#' + result.entity).removeClass('progress-bar-warning');
                $('#poppupContent').load("@Url.Action("GetEntityPopup", "Case", new { area="Mobile" })?id=" + result.entity + '&modelCode=' + modelCode + '&caseId=' + caseId, function () {
                    //if (modelCode == "M00001") {
                    //    $('#model-m1').addClass('auto-height')
                    //} else if (modelCode == "M00002") {
                    //    $('#model-m2').addClass('auto-height')
                    //} else if (modelCode == "M00003") {
                    //    $('#model-m3').addClass('auto-height')
                    //} else if (modelCode == "M00004") {
                    //    $('#model-m4').addClass('auto-height')
                    //} else if (modelCode == "M00005") {
                    //    $('#model-m5').addClass('auto-height')
                    //}
                    $.unblockUI();
                });
            }
        }).always(function () {
        }).fail(function () {
            $.unblockUI();
            bootbox.alert('@Resources.Langues.ContactAdmin')
        });


    });

    function getListEntity(e, name) {
        $.blockUI();
        if (document.getElementById("li_" + e).className == "disabled") {
            $.unblockUI();
            return false;
        }
        $('#item-selected').text(name)
        var caseId = @Request.Params["caseId"];
        var CP1 = false,CP2 = false,CP3 = false,CP4 = false,CP5 = false,CP6 = false
        var itemCode = e;
        var oldDiv = $('#entity-content').find('div');
        if (oldDiv !== null) {
            $(oldDiv).remove();
        }



        $.post("@Url.Action("GetListComponent", "Case", new { area = "Case"})", { caseId: caseId }, function (result) {
            if (result.success) {
                result.list.forEach(function (item) {
                    if (item == 'CP0001') {
                        CP1 = true
                    } if (item == 'CP0002') {
                        CP2 = true
                    } if (item == 'CP0003') {
                        CP3 = true
                    } if (item == 'CP0004') {
                        CP4 = true
                    } if (item == 'CP0005') {
                        CP5 = true
                    } if (item == 'CP0006') {
                        CP6 = true
                    }
                });

                if ((itemCode == 'I00004' && CP1 == false) || (itemCode == 'I00005' && CP2 == false)||(itemCode == 'I00006' && CP3 == false)||(itemCode == 'I00007' && CP4 == false)
                    ||(itemCode == 'I00008' && CP5 == false) || (itemCode == 'I00013' && CP6 == false)) {
                    $.unblockUI();
                    return false;
                } else {
                    $.blockUI();
                    $.post("@Url.Action("GetListEntityByItemCode", "Case", new { area = "Case" })", { itemCode: itemCode, caseId: caseId, areas: areas }, function (result) {
                        if (result.success) {
                            $('.menu-head').removeClass('open')
                            $('.menu-container').removeClass('open')
                            var div = document.createElement('div');
                            div.innerHTML = result.response;
                            document.getElementById('entity-content').appendChild(div);
                            $.post("@Url.Action("GetFirstEntityInItem", "Case", new { area = "Case" })", { itemCode: e }, function (result) {
                                if (result.success) {
                                    $('#' + result.entity).removeClass('progress-bar-warning');
                                    $('#poppupContent').load("@Url.Action("GetEntityPopup", "Case", new { area="Mobile" })?id=" + result.entity + '&modelCode=' + modelCode + '&caseId=' + caseId, function () {
                                        $.unblockUI();
                                    });
                                }
                            }).always(function () {
                            }).fail(function () {
                                $.unblockUI();
                                bootbox.alert('@Resources.Langues.ContactAdmin')
                            });
                        }
                        $.unblockUI();
                    }).always(function () {

                    }).fail(function () {
                        $.unblockUI();
                        bootbox.alert('@Resources.Langues.ContactAdmin')
                    });
                }
            }
        }).always(function () {
            //$.unblockUI();
        }).fail(function () {
            $.unblockUI();
            bootbox.alert('@Resources.Langues.ContactAdmin')
        });
    };

    $(".menu-container ul li").click(function () {
        if ($(this).children().length != 3) {
            $(this).siblings().find('a').removeClass('am');
            $(this).children().addClass('am');
        } else {
            $(this).siblings().find('a').removeClass('am');
        }
    });

    function nextItem(){
        var $aTagElement = $("#case-references-content ul li > a[class='over am']");
        var $selected = $aTagElement.closest('li');
        var $next = $selected.next('li');
        var checkDisabled = $next.attr('class');
        $next.children().click();
        $next.siblings().removeClass('am');
        $next.children().addClass();
        if ($next.is(':last-child')) {
            $(this).hide();
        }
        if(checkDisabled=="disabled"){
            nextItem();
        }
    }

    function nextEntity() {
        var id = $('.progress-bar-warning')[0];
        if (id != undefined){
            $('#' + id.id).click()
        } else{
            var  item = $('.am')[0].id
            $.blockUI();
            $.post("@Url.Action("GetNextItem", "Case", new { area = "Mobile" })", { modelCode: modelCode, item:item }, function (result) {
                if (result.item != "") {
                    $('#' + result.item).click()
                }
            }).always(function () {
            }).fail(function () {
                $.unblockUI();
                bootbox.alert('@Resources.Langues.ContactAdmin')
            });
        }
    }

    function getArea() {
        var url = window.location.href;
        var array = url.split('/');
        if (array[3] == "Mobile" || array[4] == "Mobile") {
            return "Mobile";
        } else {
            return "Case";
        }
    }

    function clickShow(stt) {
        if (stt == 'show') {
            $('.grid').removeClass('hidden')
            $('#show-btn').removeAttr('onclick')
            $('#show-btn').attr('onclick', "clickShow('hide')")
            //$('#show-btn').text('@Resources.Langues.Hide')
        } else {
            $('.grid').addClass('hidden')
            $('#show-btn').removeAttr('onclick')
            $('#show-btn').attr('onclick', "clickShow('show')")
            //$('#show-btn').text('@Resources.Langues.Show')
        }
    }

    function nextStepEntity(entity) {
        $.blockUI();
        $.post("@Url.Action("GetItemByEntity", "Case", new { area = "Case" })", { modelCode: modelCode, entityName: entity }, function (result) {
            var itemCode = result.item
            $('#' + itemCode).click();
            setTimeout(function () { $('#btn_' + entity).click(); }, 1000);
            
        }).always(function () {

        }).fail(function () {
            $.unblockUI();
            bootbox.alert('@Resources.Langues.ContactAdmin')
        });
    }
</script>