
@{
    ViewBag.Title = "Sub1";
    Layout = "~/Views/Shared/_Index.cshtml";
}

@section styles{
    <style>
    </style>
}

<div class="col-md-8  col-md-offset-2">
    <h2 class="sub_tit text-center" style="color:#fff">@Resources.Langues.ProgramIntroduction </h2>
    <br />
    <br />
    <p style="color:#fff;font-size:20px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1.png" width="530" height="159" alt="into" title="File size= 52KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1.png" width="451" height="135" alt="into" title="File size= 52KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1.png" width="482" height="128" alt="into" title="File size= 52KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1.png" width="407" height="122" alt="into" title="File size= 52KB">
    </div>
    <br />
    <p style="color:#fff;font-size:20px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent2
    </p>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent3
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_1.png" width="750" height="253" alt="into" title="File size= 61KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_1.png" width="525" height="177" alt="into" title="File size= 61KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_1.png" width="446" height="151" alt="into" title="File size= 61KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_1.png" width="357" height="120" alt="into" title="File size= 61KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent4
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_2.png" width="750" height="253" alt="into" title="File size= 91KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_2.png" width="525" height="177" alt="into" title="File size= 91KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_2.png" width="446" height="151" alt="into" title="File size= 91KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_2.png" width="357" height="120" alt="into" title="File size= 91KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent5
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_3.png" width="750" height="253" alt="into" title="File size= 61KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_3.png" width="525" height="177" alt="into" title="File size= 61KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_3.png" width="446" height="151" alt="into" title="File size= 61KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_3.png" width="357" height="120" alt="into" title="File size= 61KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent6
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_4.png" width="750" height="267" alt="into" title="File size= 107KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_4.png" width="525" height="187" alt="into" title="File size= 107KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_4.png" width="446" height="159" alt="into" title="File size= 107KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_4.png" width="357" height="127" alt="into" title="File size= 107KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent7
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_5.png" width="750" height="230" alt="into" title="File size= 90KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_5.png" width="525" height="161" alt="into" title="File size= 90KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_5.png" width="446" height="137" alt="into" title="File size= 90KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_5.png" width="357" height="109" alt="into" title="File size= 90KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent8
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_6.png" width="750" height="351" alt="into" title="File size= 97KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_6.png" width="525" height="246" alt="into" title="File size= 97KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_6.png" width="446" height="209" alt="into" title="File size= 97KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_6.png" width="357" height="167" alt="into" title="File size= 97KB">
    </div>
    <br />
    <p style="color:#fff;font-size:18px;line-height:30px;">
        @Resources.Langues.ProgramIntroContent9
    </p>
    <div class="col-md-offset-1">
        <img class="visible-lg" src="~/img/ProgramIntro_Img1_7.png" width="750" height="340" alt="into" title="File size= 160KB">
        <img class="visible-md" src="~/img/ProgramIntro_Img1_7.png" width="525" height="238" alt="into" title="File size= 160KB">
        <img class="visible-sm" src="~/img/ProgramIntro_Img1_7.png" width="446" height="202" alt="into" title="File size= 160KB">
        <img class="visible-xs" src="~/img/ProgramIntro_Img1_7.png" width="357" height="162" alt="into" title="File size= 160KB">
    </div>
    <br />
    @if (Request.IsAuthenticated)
    {
        <br />
    <div class="row" style="color:#fff;">
        <table class="table tbQnA">
            <thead>
                <tr style="border:0;" class="">
                    <th class="col-xs-3"></th>
                    <th class="text-center bor-top bor-left-right">Q&A</th>
                    <th class="col-xs-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-xs-3"></td>
                    <td class="bor-left-right">@Resources.Langues.BottomeInCarge</td>
                    <td class="col-xs-3"></td>
                </tr>
                <tr>
                    <td class="col-xs-3"></td>
                    <td class="bor-left-right">@Resources.Langues.BottomEmailAdd</td>
                    <td class="col-xs-3"></td>
                </tr>
                <tr>
                    <td class="col-xs-3"></td>
                    <td class="bor-bottom bor-left-right">@*@Resources.Langues.BottomeTelNumber*@</td>
                    <td class="col-xs-3"></td>
                </tr>
            </tbody>
        </table>
    </div>
        <br />
    }
</div>

@section scripts{
    <script></script>
}

