@model DPDSP.Areas.Case.Models.EntityE000341PopupViewModel

<style>
    .E00034 {
        top: 5%;
    }

    span[class=k-input] {
        text-align: center;
    }

    .k-list-optionlabel {
        text-align: center;
    }

    .tblRow .active {
        text-align: center;
    }

    .tblMultiRow th, td {
        text-align: center;
    }

    .lbWT {
        padding-right: 0px;
        font-weight: 400;
    }

    .input-validation-error {
        border: 1px solid red !important;
    }

    .democlass {
        background-color: gray;
    }

    .modal-dialog {
        width: 50%
    }
</style>
<link href="@Url.Content("~/Content/case_site_css/entity_popup_styles.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("SaveEntityE00034PopupData", "EntityE00034Popup", new { area="Case"}, FormMethod.Post, new { @role = "form", @id = "EntityE00034Form" }))
{
    <div align="center" class="container">
        <h4 class="modal-title">@Resources.Langues.E00034Title</h4>
        <div class="">
            @Html.Hidden("CaseId", @Request.Params["caseId"], new
            {
               @data_val = "true",
               @data_val_required = "The CaseId field is required."
            })

            @Html.HiddenFor(m => m.ModelCode, @Request.Params["modelCode"])
            <br />
            <div class="">
                <div class="form-horizontal">
                    <label class="control-label col-md-4 lbWT">@Resources.Langues.Selectdieselgeneratorparameters</label>
                    <div class="col-md-6">
                        @(Html.Kendo().DropDownList()
                                                                                                                                  .Name("E00034ModelName")
                                                                                                                                  .DataTextField("Text")
                                                                                                                                  .DataValueField("Value")
                                                                                                                                  .HtmlAttributes(new { style = "width: 100%" })
                        )
                    </div>
                </div>
            </div>
            <br />
            <div class="">
                <table class="table table-bordered tblRow">
                    <tbody>
                        <tr>
                            <td class="active col-xs-3">@Resources.Langues.Company</td>
                            <td>
                                @Html.TextBoxFor(m => m.Company, new { })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="">
                <table class="table table-bordered tblRow">
                    <tbody>
                        <tr>
                            <td class="active col-xs-3">@Resources.Langues.ModelName</td>
                            <td>
                                @Html.TextBoxFor(m => m.ModelName, new { })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="outer" style="text-align:left">
                @Resources.Langues.Monthlyfuelcostinformation
                <table class="table table-bordered tblRow" style="width:800px">
                    <tbody>
                        <tr>
                            <td>@Resources.Langues.Month</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                        <tr class="paraSubRow ">
                            <td>@Resources.Langues.Price</td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM1, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM1 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM2, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM2 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM3, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM3 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM4, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM4 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM5, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM5 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM6, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM6 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM7, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM7 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM8, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM8 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM9, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM9 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM10, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM10 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM11, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM11 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.FuelCostM12, new
                           {
                               @data_val = "true",
                               @data_val_number = "The field FuelCostM12 must be a number.",
                               @style = "text-align:right;",
                               @type = "tel",
                               @class = "fuel-input"
                           })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class=" scroll-style-7" style="max-height:374px; overflow-y:scroll;text-align:left">
                @Resources.Langues.Dieselgeneratorparameters
                <table class="table table-bordered tblMultiRow">
                    @if (Request.Params["modelCode"] != "M00002")
                    {
                        <tbody>
                            <tr class="paraSubRow">
                                <td class="col-xs-5">@Resources.Langues.Ratedoutput1</td>
                                <td>
                                    @Html.TextBoxFor(m => m.RatedOuputCom, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field RatedOuputCom must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The RatedOuputCom field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Commercialminimumoperationoutput</td>
                                <td>
                                    @Html.TextBoxFor(m => m.MinOperOutput, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field MinOperOutput must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The MinOperOutput field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Commercialmaximumoperationoutput</td>
                                <td>
                                    @Html.TextBoxFor(m => m.MaxOperOutput, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field MaxOperOutput must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The MaxOperOutput field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Ratedoutput2</td>
                                <td>
                                    @Html.TextBoxFor(m => m.RatedOyputEmr, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field RatedOyputEmr must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The RatedOyputEmr field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Emergencyminimumoperationoutput</td>
                                <td>
                                    @Html.TextBoxFor(m => m.MinOperEmr, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field MinOperEmr must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The MinOperEmr field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Emergencymaximumoperationoutput</td>
                                <td>
                                    @Html.TextBoxFor(m => m.MaxOperEmr, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field MaxOperEmr must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The MaxOperEmr field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Operatingtime1</td>
                                <td>
                                    @Html.TextBoxFor(m => m.OperTimeCom, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field OperTimeCom must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The OperTimeCom field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">@Resources.Langues.Hour</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Operatingtime2</td>
                                <td>
                                    @Html.TextBoxFor(m => m.OperTimeEmr, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field OperTimeEmr must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The OperTimeEmr field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">@Resources.Langues.Hour</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Co2Emiisions</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Co2Emiisions, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field Co2Emiisions must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 6 digits",
                                   @data_val_range_max = "99999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The Co2Emiisions field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">tCO2/L</td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.Coefficient</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Coefficient, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field Coefficient must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 11 digits",
                                   @data_val_range_max = "99999.999999",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum Six Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,6})?$",
                                   @data_val_required = "The Coefficient field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">L/h/kW</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.ConstWaterPort</td>
                                <td>
                                    @Html.TextBoxFor(m => m.ConstWaterPort, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field ConstWaterPort must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 11 digits",
                                   @data_val_range_max = "99999.999999",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum Six Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,6})?$",
                                   @data_val_required = "The ConstWaterPort field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">L/h</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.RunningCost</td>
                                <td>
                                    @Html.TextBoxFor(m => m.RunningCost, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field RunningCost must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 11 digits",
                                   @data_val_range_max = "99999999999999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The RunningCost field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">@Resources.Langues.won</td>
                            </tr>
                            <tr class="paraSubRow ">
                                <td class="col-xs-5">@Resources.Langues.ReferenceCapacity</td>
                                <td>
                                    @Html.TextBoxFor(m => m.ReferenceCapacity, new
                               {
                                   @data_val = "true",
                                   @data_val_number = "The field ReferenceCapacity must be a number.",
                                   @data_val_range = "Invalid Target Price; Max 11 digits",
                                   @data_val_range_max = "99999999999999.9",
                                   @data_val_range_min = "0",
                                   @data_val_regex = "Invalid Target Price; Maximum One Decimal Points.",
                                   @data_val_regex_pattern = @"^\d+(\.\d{1,1})?$",
                                   @data_val_required = "The ReferenceCapacity field is required.",
                                   @style = "text-align:right;",
                                   @type = "tel"
                               })
                                </td>
                                <td class="col-xs-1">kW</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <br />
            <div class="">
                <div class="list-inline">
                    <button id="FormE00034Save" type="button" class="button button-gray">@Resources.Langues.Save</button>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script>
        var caseId =  @Request.Params["caseId"];
        var componentCode = "CP0006";
        var dropdown = $("#E00034ModelName").data("kendoDropDownList");
    $(document).ready(function () {
        
        $('#btn_E00034').removeClass('progress-bar-warning');
        $('.E00034').modal({
            backdrop: 'static',
            keyboard: false
        })

        $('.E00034').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

            clearModal();
            $.blockUI();
            $.post("@Url.Action("Check_DropdownListAvailable", "EntityE00029Popup", new { area="Case" })", { caseId : caseId, componentCode : componentCode }, function (result) {
                if(result.success){
                    dropdown.enable(true);
                    $("#E00034ModelName").kendoDropDownList({
                        index: 0,
                        dataValueField: "Value",
                        dataTextField: "Text",
                        serverFiltering: true,
                        change: onChange,
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: "@Url.Action("Read_DieselParameter", "EntityE00034Popup", new { area = "Case" })"
                                }
                            }
                        },
                        filter:"contains",
                    });
                    $("#E00034ModelName").data("kendoDropDownList").dataSource.read();
                    $.unblockUI();
                }else{
                    dropdown.enable(false);
                    $.unblockUI();
                }
            }).fail(function(){
                bootbox.alert('@Resources.Langues.ContactAdmin');
                $.unblockUI();
            }).always(function(){
                //$.unblockUI();
            });

        $('#EntityE00034Form').submit(function (e) {
            $.blockUI();
            var data = new FormData(this);
            var $fromObj = $(this);
            var urlAction = $fromObj.attr('action');
            $.ajax({
                url: urlAction,
                type: 'POST',
                dataType: "Json",
                contentType: false,
                cache: false,
                processData: false,
                data: data,
                fail: function () {
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                    $.unblockUI();
                }
            }).always(function () {
                //$.unblockUI();
            }).success(function (result) {
                if (result.success) {
                    $.unblockUI();
                            if (lstEntityNextStep.length == 0) lstEntityNextStep = result.listNextStep;
                            if (lstEntityNextStep.length != 0) {
                                nextStepEntity(lstEntityNextStep[0]);
                                lstEntityNextStep.shift();
                                console.log(lstEntityNextStep)
                            } else {
                                nextEntity()
                            }
                } else {
                    bootbox.alert('@Resources.Langues.Error');
                    $.unblockUI();
                }
            });
            e.preventDefault();
        });

        $('.E00031').on('hidden.bs.modal',function(){
            dropdown.text(""); // clears visible text
            dropdown.value(""); // clears invisible value
            clearModal();
        });

        $('#FormE00034Save').click(function(){
            var value = dropdown.value();
            if(value != ""){
                var valid =  $('#EntityE00034Form').valid();
                if(valid){
                    $('#EntityE00034Form').submit();
                }
            }
            else{
                bootbox.alert('@Resources.Langues.Pleaseselectdieselgeneratorparameters');
            }
        });

        $('#EntityE00034Form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $.blockUI();
        $.post("@Url.Action("GetDieselGenParameterByCaseId", "EntityE00034Popup", new { area="Case" })", { caseId:caseId }, function (result) {
            if(result.success){
                var id = result.id;
                var tbody = $('.tblMultiRow').find('tbody');

                $.blockUI();
                $.post("@Url.Action("GetDieselGetParameterSub", "EntityE00034Popup", new { area="Case" })", { dgParameterId:id, caseId: caseId }, function (result) {
                    if (result.success) {
                        var item = result.dgParameter;
                        var item2 = result.dgCost;

                        $('#RatedOuputCom').val(item.RatedOuputCom)
                        $('#MinOperOutput').val(item.MinOperOutput)
                        $('#MaxOperOutput').val(item.MaxOperOutput)
                        $('#RatedOyputEmr').val(item.RatedOyputEmr)
                        $('#MinOperEmr').val(item.MinOperEmr)
                        $('#MaxOperEmr').val(item.MaxOperEmr)
                        $('#OperTimeCom').val(item.OperTimeCom)
                        $('#OperTimeEmr').val(item.OperTimeEmr)
                        $('#Co2Emiisions').val(item.Co2Emiisions)
                        $('#Coefficient').val(item.Coefficient)
                        $('#ConstWaterPort').val(item.ConstWaterPort)
                        $('#ReferenceCapacity').val(item.ReferenceCapacity)
                        
                        var lang = window.location.pathname.split('/')[1];
                        if (lang != "en") {
                            $('#RunningCost').val(item.RunningCost)
                        } else {
                            $.post("@Url.Action("GetExchangeRate", "Case", new { area="Case"})", { caseId: caseId }, function (result) {
                                var ex = result.exchange;
                                $('#RunningCost').val((item.RunningCost / ex).toFixed(1))
                            }).fail(function () {
                                $.unblockUI();
                            }).always(function () {
                                $.unblockUI();
                            });
                        }

                        $('#FuelCostM1').val(item2.FuelCostM1)
                        $('#FuelCostM2').val(item2.FuelCostM2)
                        $('#FuelCostM3').val(item2.FuelCostM3)
                        $('#FuelCostM4').val(item2.FuelCostM4)
                        $('#FuelCostM5').val(item2.FuelCostM5)
                        $('#FuelCostM6').val(item2.FuelCostM6)
                        $('#FuelCostM7').val(item2.FuelCostM7)
                        $('#FuelCostM8').val(item2.FuelCostM8)
                        $('#FuelCostM9').val(item2.FuelCostM9)
                        $('#FuelCostM10').val(item2.FuelCostM10)
                        $('#FuelCostM11').val(item2.FuelCostM11)
                        $('#FuelCostM12').val(item2.FuelCostM12)

                        //var html = createHtmlParaSub(item)
                        //tbody.append(html);
                        $.unblockUI();
                    } else {
                        $.unblockUI();
                    }
                }).fail(function(){
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                    $.unblockUI();
                }).always(function(){
                    //$.unblockUI();
                });

                $.blockUI();
                $.post("@Url.Action("GetDGParameter", "EntityE00034Popup", new { area="Case" })", { dgParameterId:id }, function (result) {
                    if (result.success) {
                        $('.tblRow').find('input').removeAttr("readonly");
                        $('#Company').val(result.DGParam.Company);
                        $('#ModelName').val(result.DGParam.ModelName);
                        $('#FuelPrice').val(result.DGParam.FuelPrice);
                        $("#E00034ModelName").data("kendoDropDownList").value(id);
                        $.unblockUI();
                    } else {
                        $.unblockUI();
                    }
                }).fail(function(){
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                    $.unblockUI();
                }).always(function(){
                    //$.unblockUI();
                });
            }
        }).fail(function(){
            bootbox.alert('@Resources.Langues.ContactAdmin');
            $.unblockUI();
        }).always(function(){
            //$.unblockUI();
        });
    });

    function onChange(e){
        var value = $("#E00034ModelName").data("kendoDropDownList").value();
        var tbody = $('.tblMultiRow').find('tbody');
        if(value ==="custom"){
            clearModal();
            $('.tblRow').find('input').removeAttr("readonly");

            $('.paraSubRow').find('input').removeAttr('readonly');
        }else {
            $.blockUI();
            $.post("@Url.Action("GetDieselGetParameterSub", "EntityE00034Popup", new { area="Case" })", { dgParameterId:value, caseId: caseId }, function (result) {
                if (result.success) {
                    $('.tblRow').find('input').not('.loadInput').val("");
                    $('.tblMultiRow').find('tbody').children().not('.paraSubRow').remove();
                    $('.tblRow').find('input').removeClass("input-validation-error");
                    $('.tblMultiRow').find('input').removeClass("input-validation-error");
                    $('.paraSubRow').find('input').not('.loadInput').val("");
                    $('.tblRow').find('input').prop("readonly", true);
                    $('.paraSubRow').find('input').prop("readonly", true);

                    var item = result.dgParameter;
                    var item2 = result.dgCost;
                    //var html = createHtmlParaSub(item)

                    $('#RatedOuputCom').val(item.RatedOuputCom)
                    $('#MinOperOutput').val(item.MinOperOutput)
                    $('#MaxOperOutput').val(item.MaxOperOutput)
                    $('#RatedOyputEmr').val(item.RatedOyputEmr)
                    $('#MinOperEmr').val(item.MinOperEmr)
                    $('#MaxOperEmr').val(item.MaxOperEmr)
                    $('#OperTimeCom').val(item.OperTimeCom)
                    $('#OperTimeEmr').val(item.OperTimeEmr)
                    $('#Co2Emiisions').val(item.Co2Emiisions)
                    $('#Coefficient').val(item.Coefficient)
                    $('#ConstWaterPort').val(item.ConstWaterPort)
                    $('#ReferenceCapacity').val(item.ReferenceCapacity)
                    
                    var lang = window.location.pathname.split('/')[1];
                    if (lang != "en") {
                        $('#RunningCost').val(item.RunningCost)
                    } else {
                        $.post("@Url.Action("GetExchangeRate", "Case", new { area="Case"})", { caseId: caseId }, function (result) {
                            var ex = result.exchange;
                            $('#RunningCost').val((item.RunningCost / ex).toFixed(1))
                        }).fail(function () {
                            $.unblockUI();
                        }).always(function () {
                            $.unblockUI();
                        });
                    }

                    $('#FuelCostM1').val(item2.FuelCostM1)
                    $('#FuelCostM2').val(item2.FuelCostM2)
                    $('#FuelCostM3').val(item2.FuelCostM3)
                    $('#FuelCostM4').val(item2.FuelCostM4)
                    $('#FuelCostM5').val(item2.FuelCostM5)
                    $('#FuelCostM6').val(item2.FuelCostM6)
                    $('#FuelCostM7').val(item2.FuelCostM7)
                    $('#FuelCostM8').val(item2.FuelCostM8)
                    $('#FuelCostM9').val(item2.FuelCostM9)
                    $('#FuelCostM10').val(item2.FuelCostM10)
                    $('#FuelCostM11').val(item2.FuelCostM11)
                    $('#FuelCostM12').val(item2.FuelCostM12)

                    //tbody.append(html);

                    $.blockUI();
                    $.post("@Url.Action("GetDGParameter", "EntityE00034Popup", new { area="Case" })", { dgParameterId:value }, function (result) {
                        if (result.success) {
                            $('.tblRow').find('input').removeAttr("readonly");
                            $('#Company').val(result.DGParam.Company);
                            $('#ModelName').val(result.DGParam.ModelName);
                            $('#FuelPrice').val(result.DGParam.FuelPrice);
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                        }
                    }).fail(function () {
                        $.unblockUI();
                        bootbox.alert('@Resources.Langues.ContactAdmin');
                    }).always(function(){
                        //$.unblockUI();
                    });
                } else {
                    $.unblockUI();
                }
            }).fail(function () {
                $.unblockUI();
                bootbox.alert('@Resources.Langues.ContactAdmin');
            }).always(function(){
                //$.unblockUI();
            });
        }
    };
    
    function createHtmlParaSub(item){
        return '<tr><td class="col-xs-5">'+ '@Resources.Langues.Ratedoutput1' +'</td><td>'+
            '<input data-val="true" data-val-number="The field RatedOuputCom must be a number." data-val-range="Invalid Target Price; Max 6 digits" style = "text-align:right;"'+
            'data-val-range-max="99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points."'+
            ' data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required="The RatedOuputCom field is required." name="RatedOuputCom" '+
            'type="text" value="'+item.RatedOuputCom+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Commercialminimumoperationoutput' +'</td><td>'+
            '<input data-val="true" data-val-number="The field MinOperOutput must be a number." data-val-range="Invalid Target Price; Max 6 digits" style = "text-align:right;" data-val-range-max'+
            '="99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" '+
            'data-val-required="The MinOperOutput field is required." name="MinOperOutput" type="text" value="'+item.MinOperOutput+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Commercialmaximumoperationoutput' +'</td>'+
            '<td><input data-val="true" data-val-number="The field MaxOperOutput must be a number." data-val-range="Invalid Target Price; Max 6 digits" '+
            'data-val-range-max="99999.9" style = "text-align:right;" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern'+
            '="^\d+(\.\d{1,1})?$" data-val-required="The MaxOperOutput field is required." name="MaxOperOutput" type="text" value="'+item.MaxOperOutput+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Ratedoutput2' +'</td>'+'<td><input data-val="true" data-val-number="The field RatedOyputEmr must be a number." '+
            'data-val-range="Invalid Target Price; Max 6 digits" style = "text-align:right;" data-val-range-max="99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal '+
            'Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required="The RatedOyputEmr field is required." name="RatedOyputEmr" '+
            'type="text" value="'+item.RatedOyputEmr+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Emergencyminimumoperationoutput' +'</td>'+
            '<td><input data-val="true" data-val-number="The field MinOperEmr must be a number." style = "text-align:right;" data-val-range="Invalid Target Price; Max 6 digits" data-val-range-max='+
            '"99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required'+
            '="The MinOperEmr field is required." name="MinOperEmr" type="text" value="'+item.MinOperEmr+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Emergencymaximumoperationoutput' +'</td>'+
            '<td><input data-val="true" data-val-number="The field MaxOperEmr must be a number." style = "text-align:right;" data-val-range="Invalid Target Price; Max 6 digits" data-val-range-max='+
            '"99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required='+
            '"The MaxOperEmr field is required." name="MaxOperEmr" type="text" value="'+item.MaxOperEmr+'"></td><td class="col-xs-1">kW</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Operatingtime1' +'</td>'+
            '<td><input data-val="true" data-val-number="The field OperTimeCom must be a number." style = "text-align:right;" data-val-range="Invalid Target Price; Max 6 digits" data-val-range-max='+
            '"99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required='+
            '"The OperTimeCom field is required." name="OperTimeCom" type="text" value="'+item.OperTimeCom+'"></td><td class="col-xs-1">'+'@Resources.Langues.Hour'+'</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Operatingtime2' +'</td>'+
            '<td><input data-val="true" data-val-number="The field OperTimeEmr must be a number." style = "text-align:right;" data-val-range="Invalid Target Price; Max 6 digits" data-val-range-max='+
            '"99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required='+
            '"The OperTimeEmr field is required." name="OperTimeEmr" type="text" value="'+item.OperTimeEmr+'"></td><td class="col-xs-1">'+'@Resources.Langues.Hour'+'</td></tr>'+
            '<tr><td class="col-xs-5">'+ '@Resources.Langues.Co2Emiisions' +' (tCo2/L)</td>'+
            '<td><input data-val="true" data-val-number="The field Co2Emiisions must be a number." style = "text-align:right;" data-val-range="Invalid Target Price; Max 6 digits" data-val-range-max='+
            '"99999.9" data-val-range-min="0" data-val-regex="Invalid Target Price; Maximum One Decimal Points." data-val-regex-pattern="^\d+(\.\d{1,1})?$" data-val-required='+
            '"The Co2Emiisions field is required." name="Co2Emiisions" type="text" value="'+item.Co2Emiisions+'"></td><td class="col-xs-1">tCO2/L</td></tr>';
    }

    function clearModal(){
        $('.tblRow').find('input').not('.loadInput').val("");
        $('.tblMultiRow').find('tbody').children().not('.paraSubRow').remove();
        $('.tblRow').find('input').prop("readonly","readonly");
        $('.tblMultiRow').find('input').prop("readonly","readonly");
        $('.tblRow').find('input').removeClass("input-validation-error");
        $('.tblMultiRow').find('input').removeClass("input-validation-error");
        $('.paraSubRow').find('input').not('.loadInput').val("");
    };
</script>
